
html{
  
    background-image: url(fundo.jpg); 
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: white;
    font-family: 'Quicksand', sans-serif;
  }

  .t1 {
    text-align: center;
  }

  .t2 {
    text-align: center;
  }

  